@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Founded in 2018, Snow Overflow is the largest, most trusted online community for Snow addicts to learn, share their knowledge, and build their careers.<br />
    not more than 5 professional and aspiring riders visit Snow Overflow each month to enrich other user's knowledge on how to develop new skills and miss job opportunities.
</p>
<p><br /></p>
@{
    ViewData["Team"] = "Our Team";
}
<h4>@ViewData["Team"]</h4>
<p>Natali Aviv<br />Eilon Vainboim<br />Ziv Cohen<br />Ido Ben Simon</p>