
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Founded in 2018, Snow Overflow is the largest, most trusted online community for Snow addicts to learn, share their knowledge, and build their careers.<br />
    not more than 5 professional and aspiring riders visit Snow Overflow each month to enrich other user's knowledge on how to develop new skills and miss job opportunities.
</p>
<p><br /></p>
<!-- Team Container -->

    <div class="w3-container w3-padding-64 w3-center" id="team">
        <h2>OUR TEAM</h2>

        <div class="row">
            <br>
            <div class="w3-quarter">
                <img src="~/images/eilon.jpg" alt="Boss" style="width:20%" class="w3-circle w3-hover-opacity">
                <h3>Eilon Vainboim</h3>

            </div>
            <div class="w3-quarter">
                <img src="~/images/ziv.jpg" alt="Boss" style="width:20%" class="w3-circle w3-hover-opacity">
                <h3>Ziv Cohen</h3>

            </div>

            <div class="w3-quarter">
                <img src="~/images/ido.jpg" alt="Boss" style="width:20%" class="w3-circle w3-hover-opacity">
                <h3>Ido Ben Simon</h3>

            </div>

            <div class="w3-quarter">
                <img src="~/images/natali.jpg" alt="Boss" style="width:20%" class="w3-circle w3-hover-opacity">
                <h3>Natali Aviv</h3>
            </div>

        </div>

    </div>
