@{
    ViewData["Title"] = "Sites";
}
<style>
    a {
        text-decoration: none;
        color: inherit;
    }

        a:hover {
            text-decoration: none;
            color: inherit;
        }

    .card-container {
        width: 300px;
    }

    .card {
        display: inline-block;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
        margin: 20px;
        position: relative;
        margin-bottom: 50px;
        transition: all 0.2s ease-in-out;
    }

        .card:hover {
            /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin-bottom: 54px;
        }

    .image {
        height: 150px;
        opacity: 0.7;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
    }

        .image:hover, .card:hover .image {
            height: 150px;
            opacity: 1;
        }

    .text {
        background: #fff;
        padding: 20px;
        min-height: 200px;
    }

        .text p {
            margin-bottom: 0px;
        }

    .fab {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        margin-top: -50px;
        right: 20px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
        color: #fff;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        background: #0066a2;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
    }

        .fab:hover {
            background: #549d3c;
            cursor: pointer;
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
</style>


<h2>Sites</h2>
<div>
    Site name:<br />
    <input type="text" onkeyup="search()" id="search" />
</div>
<br />
By Country:
<div id="checkbox"></div>
<br />
By Language:
<div id="checkbox-language"></div>

<div id="sites" style="width:100%;display:flex;flex-direction:row;flex-wrap:wrap">

</div>


<script type="text/javascript">
    var data;
    var language = [];
    $(document).ready(function () {
        $.getJSON("/site/getAllSites", function (result) {
            data = result.sites;
            countries = result.countries;
            var recommendations = '';
            var checkboxes = '';
            var languageBoxes = '';

            for (var i = 0; i < data.length; i++) {
                recommendations +=
                    '<a href="/sites/Details/' + data[i].id + '">' +
                    '<div class="card-container">' +
                    '<div class="card">' +
                    '<div class="image">' +
                    `<img src='/images/` + data[i].id + `.jpg' width='100%' />` +
                    '</div>' +
                    '<div class="text">' +
                    '<div class="fab">&#43;</div>' +
                    '<h3>' + data[i].name + '</h3>' +
                    '<p>' +
                    '<ul>' +
                    '<li>Pistes :' + data[i].pistes + '</li>' +
                    '<li>Rank :' + data[i].rank + '</li>' +
                    '<li>Difficulty :' + data[i].difficulty + '</li>' +
                    '</ul>' +
                    '</p>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</a>';
            }

            for (var i = 0; i < countries.length; i++) {
                checkboxes +=
                    `<input type="checkbox" name="` + countries[i].name + `" value="` + countries[i].id + `" onClick="search()">` + countries[i].name + '<br>';
                if (!language.includes(countries[i].language)) language.push(countries[i].language);
                
            }
            for (var i = 0; i < language.length; i++) {
                languageBoxes +=
                    `<input type="checkbox" name="` + language[i] + `" value="` + language[i] + `" onClick="search()">` + language[i] + '<br>';
            }
            $('#sites').html(recommendations);
            $('#checkbox').html(checkboxes);
            $('#checkbox-language').html(languageBoxes);
        });

    });

    function search() {
        var checkBoxArray = [];
        var languageBoxArray = [];
        $("#checkbox input:checkbox").each(function () {
            if ($(this).is(':checked')) {
                checkBoxArray.push($(this).attr("value"));
            }
        });

        $("#checkbox-language input:checkbox").each(function () {
            if ($(this).is(':checked')) {
                languageBoxArray.push($(this).attr("value"));
            }
        });

        console.log(checkBoxArray);

        var searchString = $("#search").val().toLowerCase();
        var filtered = data.filter(x => (
                                        (searchString.length > 0 ? x.name.toLowerCase().includes(searchString) : true) &&
            (checkBoxArray.length > 0 ? checkBoxArray.includes(x.countryId.toString()) : true) &&
            (languageBoxArray.length > 0 ? languageBoxArray.includes(x.country.language.toString()) : true)
                                    ));
        var sites = "";
        for (var i = 0; i < filtered.length; i++) {
            sites +=
                '<a href="/sites/Details/' + filtered[i].id + '">' +
                '<div class="card-container">' +
                '<div class="card">' +
                '<div class="image">' +
                `<img src='/images/` + filtered[i].id + `.jpg' width='100%' />` +
                '</div>' +
                '<div class="text">' +
                '<div class="fab">&#43;</div>' +
                '<h3>' + filtered[i].name + '</h3>' +
                '<p>' +
                '<ul>' +
                '<li>Pistes :' + filtered[i].pistes + '</li>' +
                '<li>Rank :' + filtered[i].rank + '</li>' +
                '<li>Difficulty :' + filtered[i].difficulty + '</li>' +
                '</ul>' +
                '</p>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</a>';
        }
        $('#sites').html(sites);

    }
</script>

