<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/site.css" />

<body class="w3-light-grey">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: Comic Sans MS;
        }

        .myLink {
            display: none
        }
    </style>


    <!-- Header -->
    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
        <div class="w3-display-middle" style="width:65%">
            <div class="w3-bar w3-black">
               
                <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Site');"><i class="fas fa-mountain"></i> Site</button>
                <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Country');"><i class="fas fa-globe"></i> Country</button>
            </div>

       
            <div id="Site" class="w3-container w3-white w3-padding-16 myLink">
                <h3>Find the best Sites</h3>
                <p>We know The Best Sites</p>
                <p>We know how to find the Best vacation for you.</p>
                <a class="nav-link" href="https://localhost:44345/home/allsites">
                    <p><button class="w3-button w3-dark-grey">Search Sites</button></p>
                </a>
            </div>

            <div id="Country" class="w3-container w3-white w3-padding-16 myLink">
                <h3>Best countries to ride</h3>
                <p>you choose the country - we'll show you the rest...</p>
                <p>The following list of the best countries to ride is based on the relevant ski resorts</p>
                <a class="nav-link" href="https://localhost:44345/home/allcountries">
                    <p><button class="w3-button w3-dark-grey">Search Country</button></p>
                </a>
            </div>
    </header>

    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px;">
        <!-- Our recommendations -->
        <div class="w3-row-padding w3-padding-16">
            <div class="w3-third w3-margin-bottom">
                <img src="~/images/5606415930_484f97965f_o.jpg" alt="Davos" style="width:100%" height="230px">
                <div class="w3-container w3-white">
                    <h3>Davos</h3>
                    <p>
                        Davos is an Alpine town, and a municipality in the Prättigau/Davos Region in the canton of Graubünden,
                        Switzerland. It has a permanent population of 11,060 (2016).Davos is located on the river Landwasser,
                        in the Rhaetian Alps, between the Plessur and Albula Range at 1,560 m (5,120 ft) above sea level.
                    </p>
                    <a type="button1" href="https://localhost:44345/Sites/Details%2F1">
                        <button class="w3-button w3-block w3-black w3-margin-bottom">See the site</button>
                    </a>

                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <img src="~/images/snowboard_skis_jump_pleasure_smiles_sun_11502_1920x1080.jpg" alt="StAnton" style="width:100%" height="185px">
                <div class="w3-container w3-white">
                    <h3>St Anton</h3>
                    <p>
                        Sankt Anton am Arlberg, commonly referred to as St. Anton,
                        is a village and ski resort in the Austrian state of Tyrol.
                        It lies in the Tyrolean Alps, with aerial tramways and chairlifts up to 2,811 m (9,222 ft),
                        yielding a vertical drop of 1,507 m (4,944 ft).
                        Skiing has a long history in St. Anton: ski instructors from the area emigrated to the US in the 1930s, helping to popularise the sport.
                    </p>
                    <a type="button1" href="https://localhost:44345/Sites/Details%2F10">
                        <button class="w3-button w3-block w3-black w3-margin-bottom">See the site</button>
                    </a>
                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <img src="~/images/5606416292_9d9acbd4c0_o.jpg" alt="Valthorens" style="width:100%">
                <div class="w3-container w3-white">
                    <h3>Val Thorens</h3>
                    <p>
                        In no other European skiing village are you as close to heaven as in Val Thorens.
                        The famous winter sports village in the French region Rhône-Alpes lies at an altitude of 2.300 m,
                        offers a breath-taking view to the French as well as the Swiss and Italian
                        Alps and is thus regarded as the highest
                        skiing station of Europe.
                    </p>
                    <a type="button1" href="https://localhost:44345/Sites/Details%2F8">
                        <button class="w3-button w3-block w3-black w3-margin-bottom">See the site</button>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <!-- Our Work -->
        <div class="w3-container">
            <h3>Our Work</h3>
            <p>
                Founded in 2018, Snow Overflow is the largest, most trusted online community for Snow addicts to learn,
                share their knowledge, and build their careers.
                not more than 5 professional and aspiring riders visit Snow Overflow each month to enrich
                other user's knowledge on how to develop new skills and miss job opportunities.
            </p>
        </div>
        <section>
            <div class="w3-row w3-container" style="margin:60px 0">
                <div class="w3-half w3-container">
                    <div class="w3-topbar w3-border-red">
                        <h3>And if that's not enough, let's see a video:</h3>
                        <video width="500" height="400" controls>
                            <source src="~/video/St. Anton am Arlberg - Mein Skigebiet! (1).mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="w3-half w3-container">
                    <div class="w3-topbar w3-border-red">
                        <aside style="font-size:larger; font-family:Comic Sans MS;color:black;float:right;width:300px;border:medium">
                            <h3>Tips from our riders:</h3>
                            <h3>1. Bend your knees</h3>
                            <h3>2. Look where you want to go</h3>
                            <h3>3. Move away from the Bunny Slope!</h3>
                            <h3>4. Make a plan for your progression</h3>
                            <h3>5. If there's an avalanche - keep riding</h3>                     
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page content -->
        <!-- Footer -->
        <footer class="w3-container w3-center w3-opacity w3-margin-bottom">

            <h5>Find Us On</h5>
            <div class="w3-xlarge w3-padding-16">
                <a type="button" class="btn" href="https://www.facebook.com/Snow-Overflow-343155969579083">
                    <i class="fa fa-facebook-official w3-hover-opacity"></i>
                </a>
            </div>
        </footer>


        <script>
            // Tabs
            function openLink(evt, linkName) {
                var i, x, tablinks;
                x = document.getElementsByClassName("myLink");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
                }
                document.getElementById(linkName).style.display = "block";
                evt.currentTarget.className += " w3-red";
            }
            // Click on the first tablink on load
            document.getElementsByClassName("tablink")[0].click();
        </script>

</body>
